<a (click)="logout()" style="float:right">Logout</a>
<div style="width:36rem; margin:0 auto;">

  <div *ngIf="admin && isLib">
    <h3>Add books to Liberary</h3>
    <app-books></app-books>


    <br/>
    <h3>Already added books in Liberary </h3>

    <ul class="list-inline">
      <li *ngFor="let book of books" class="list-inline-item">
        <div class="card" style=" background-color: #ebba71;border: 0;">
          <div class="card-block">
            <h4 class="card-title">{{book.bookTitle}} </h4>
            <h5>Quantity:{{book.quantity + count}}</h5>
            <h5>Author:{{book.bookAuthor}}</h5>
            <h5>Price:{{book.bookPrice| currency}}</h5>
            <button (click)="onRemove({bookId:book._id,liberaryId:book.liberaryId})" class="btn btn-danger btn-sm">Remove</button>
          </div>
        </div>
        <br/>
      </li>
    </ul>
  </div>

  <div *ngIf="admin && !isLib">
    <h3>Create Liberary</h3>
    <button  (click)="goBack()" class="btn btn-outline-info" style="float:right">Back</button>
    <br/>
    <form #heroForm="ngForm">

      <div class="form-group">
        <input name="libName" class="form-control form-control-lg" placeholder=" Enter Liberary Name" ngModel required #libName="ngModel">

      </div>

      <button (click)="onSubmit(heroForm)" class="btn btn-success">Add Liberary</button>
    </form>
    <br/>

    <h3>Already added Liberaries </h3>
    <ul class="list-inline">
      <li *ngFor="let liberary of liberaries" class="list-inline-item">
          <div class="card" style=" background-color: #e5ecef;border: 0;">
              <div class="card-block">
                <h4 class="card-title">{{liberary.liberaryName}}</h4>
                <button (click)="onRemoveLiberary({liberaryId:liberary._id})" class="btn btn-success btn-sm">Remove Liberary</button>
              </div>
          </div>
      </li>
    </ul>
  </div>



  <div *ngIf="!admin">
    <br/><br/><br/>
    <h4>Liberary books</h4>

    <ul class="list-inline">
      <li *ngFor="let book of books" class="list-inline-item">
        <div class="card" style=" background-color: #ebba71;border: 0;">
          <div class="card-block">
            <h4 class="card-title">{{book.bookTitle}} </h4>
            <h5>Quantity:{{book.quantity + count}}</h5>
            <h5>Author:{{book.bookAuthor}}</h5>
            <h5>Price:{{book.bookPrice| currency}}</h5>
            <button (click)="onIssue({bookId:book._id,liberaryId:book.liberaryId})" *ngIf='!issued' class="btn btn-success btn-sm">Issue</button>
            <button (click)="onReturn({bookId:book._id,liberaryId:book.liberaryId})" *ngIf='issued' class="btn btn-success btn-sm">Return</button>
          </div>
        </div>
        <br/>
      </li>
    </ul>

  </div>

</div>