<div style="width:33rem; margin:0 auto;">
<h3> Sign Up </h3>
<button  (click)="goBack()" class="btn btn-outline-info" style="float:right">Back</button>
<form #myForm="ngForm">

  <div class="form-group">
    <input name="username" class="form-control form-control-lg" placeholder=" Enter your username" ngModel required #username="ngModel">
    <br/>
    <input type="password" name="password" class="form-control form-control-lg" placeholder=" Enter your password" ngModel required
      #password="ngModel">
  </div>

  <span><button (click)="onSubmit(myForm)" class="btn btn-outline-success">Sign Up</button>
    <span>
      <p>Already have an account?
        <span>
          <button (click)="onLogin()" class="btn btn-outline-success">Login</button>
        </span>
      </p>
    </span>
  </span>
</form>
</div>