<h1> Sign Up </h1>
<form #myForm="ngForm">

  <div class="form-group">
    <input name="username" class="form-control form-control-lg" placeholder=" Enter your username" ngModel required #username="ngModel">
    <br/>
    <input type="password" name="password" class="form-control form-control-lg" placeholder=" Enter your password" ngModel required
      #password="ngModel">
  </div>

    <button (click)="onSubmit(myForm)">Sign Up</button>
    <span>
      <p>Already have an account?
        <span>
          <button (click)="onLogin()">Login</button>
        </span>
      </p>
    </span>
</form>