
<a routerLink="/login" [queryParams]="{admin: true}" routerLinkActive="active" style="float:right">Create/Remove Liberary</a>
<div style="width:36rem; margin:0 auto;">
<h3>List of Liberaries</h3>
<ul class="list-inline">
  <li class="list-inline-item" *ngFor="let lib of results">
      
      <a routerLink="/login" [queryParams]="{id: lib._id}" routerLinkActive="active">
        <div class="card" style=" background-color: #e5ecef;border: 0;">
            <div class="card-block">
              <h4 class="card-title">{{lib.liberaryName}}</h4>
            </div>
        </div>
        </a>
  </li>
</ul>
</div>